# How to create various files using Pyspark

--format
1.csv
2. json
3. Parquet
4. Avro
5. Excel

# 1. CSV File Operations in PySpark

1.1 Create / Write CSV

In [3]:
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession

In [4]:
#import pyspark.sql.functions as F
#import pyspark.sql.types as T
#from pyspark.sql import Window
spark = SparkSession.builder.getOrCreate()
#from pyspark.sql.types import StructField, StructType, StringType, LongType, IntegerType

In [5]:
spark

In [8]:
df2 = spark.read.csv('D:\CODING\PySpark\employe_task1.csv')

In [9]:
df2.show()

+---+--------------------+------------+--------------+
|_c0|                 _c1|         _c2|           _c3|
+---+--------------------+------------+--------------+
| id|                none|actualSalary|expectedSalary|
|  1|   created by Ramoji|        3000|          5000|
|  2|submited by Laksh...|       10000|         15000|
|  3|   approved by Swami|       10000|         12000|
+---+--------------------+------------+--------------+

In [3]:
df = spark.read.csv("D:/CODING/PySpark/employe_task1.csv")

In [4]:
df.show()

+---+--------------------+------------+--------------+
|_c0|                 _c1|         _c2|           _c3|
+---+--------------------+------------+--------------+
| id|                none|actualSalary|expectedSalary|
|  1|   created by Ramoji|        3000|          5000|
|  2|submited by Laksh...|       10000|         15000|
|  3|   approved by Swami|       10000|         12000|
+---+--------------------+------------+--------------+

In [10]:
df_csv = spark.read.csv("D:/CODING/PySpark/sales.csv", header=True, inferSchema=True)
df_csv.show()

+--------+--------+------+
|order_id|customer|amount|
+--------+--------+------+
|     101|    John|   250|
|     102|    Mary|   300|
|     103|    Alex|   150|
+--------+--------+------+

In [11]:
df_csv.write.mode("overwrite").csv("pyspark/sales_csv")

In [12]:
# df_json = spark.read.json("D:/CODING/PySpark/employee.json")
# df_json.printSchema()
# df_json.show()

In [13]:
spark.stop()

## JSON FIle Operations

In [14]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("ReadJSON").getOrCreate()

df = spark.read.json("D:/CODING/PySpark/employee.json")
df.show()
df.printSchema()

+---+---+----+
|age| id|name|
+---+---+----+
| 30|  1|John|
| 25|  2|Rita|
+---+---+----+

root
 |-- age: long (nullable = true)
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)

In [16]:
df = spark.read.option("multiline", "true").json(r"D:\CODING\PySpark\employee_details.json")
df.show(truncate=False)
df.printSchema()

+-------------------+---+----+---------------+
|address            |id |name|skills         |
+-------------------+---+----+---------------+
|{Hyderabad, 500001}|1  |Alex|[python, spark]|
+-------------------+---+----+---------------+

root
 |-- address: struct (nullable = true)
 |    |-- city: string (nullable = true)
 |    |-- pincode: long (nullable = true)
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- skills: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [19]:
df = spark.read.option("multiline", True).json(r"D:\CODING\PySpark\multi_line.json")
df.show(truncate=False)
df.printSchema()

+---+----+
|id |name|
+---+----+
|1  |John|
|2  |Ravi|
+---+----+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)

In [20]:
spark.stop()

## Parquet File Operations

In [22]:

from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("ReadParquet").getOrCreate()

df = spark.read.parquet("data2.parquet")
df.show()
df.printSchema()

+----+-----+--------------------+
|data|   id|                  ts|
+----+-----+--------------------+
| XYZ|10102|2019-04-23 23:50:...|
| ABC|10101|2019-04-23 22:55:...|
| XYZ|10102|2019-04-23 23:50:...|
| ABC|10101|2019-04-23 22:55:...|
+----+-----+--------------------+

root
 |-- data: string (nullable = true)
 |-- id: string (nullable = true)
 |-- ts: timestamp (nullable = true)

In [23]:
# Write Parquet
data = [(1,"John",1000), (2,"Mary",2000)]
cols = ["id","name","salary"]

df = spark.createDataFrame(data, cols)
df.write.mode("overwrite").parquet("parquet_examples")

# Read it
df2 = spark.read.parquet("parquet_examples")
df2.show()

+---+----+------+
| id|name|salary|
+---+----+------+
|  1|John|  1000|
|  2|Mary|  2000|
+---+----+------+

In [24]:
spark.stop()