In [1]:
#!pip show findspark

In [2]:
#!pip install --upgrade findspark

In [3]:
#!pip install --upgrade pyspark

In [4]:
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
import pyspark.sql.types as T
#from pyspark.sql import Window
spark = SparkSession.builder.getOrCreate()
from pyspark.sql.types import StructField, StructType, StringType, LongType, IntegerType,DoubleType

In [5]:
#Automobile_data_df =spark.read.option("header","true").option("inferSchema","true").csv("D:\CODING\FP\Spark_FP_Ex\Automobile_data.csv")

In [6]:
#Automobile_data_df

In [7]:
schema = StructType()\
    .add("symboling",IntegerType(),True)\
    .add("normalized-losses",IntegerType(),True)\
    .add("make",StringType(),True)\
    .add("fuel-type",StringType(),True)\
    .add("aspiration",StringType(),True)\
    .add("num-of-doors",StringType(),True)\
    .add("body-style",StringType(),True)\
    .add("drive-wheels",StringType(),True)\
    .add("engine-location",StringType(),True)\
    .add("wheel-base",DoubleType(),True)\
    .add("length",DoubleType(),True)\
    .add("width",DoubleType(),True)\
    .add("height",DoubleType(),True)\
    .add("curb-weight",IntegerType(),True)\
    .add("engine-type",StringType(),True)\
    .add("num-of-cylinders",StringType(),True)\
    .add("engine-size",IntegerType(),True)\
    .add("fuel-system",StringType(),True)\
    .add("bore",DoubleType(),True)\
    .add("stroke",DoubleType(),True)\
    .add("compression-ratio",DoubleType(),True)\
    .add("horsepower",DoubleType(),True)\
    .add("peak-rpm",DoubleType(),True)\
    .add("city-mpg",IntegerType(),True)\
    .add("highway-mpg",IntegerType(),True)\
    .add("price",DoubleType(),True)

In [8]:
Automobile_df_with_schema = spark.read.format("csv") \
      .option("header", True) \
      .schema(schema) \
      .load("Automobile_data.csv")

In [9]:
Automobile_df_with_schema.show()

+---------+-----------------+-----------+---------+----------+------------+-----------+------------+---------------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------+----+------+-----------------+----------+--------+--------+-----------+-------+
|symboling|normalized-losses|       make|fuel-type|aspiration|num-of-doors| body-style|drive-wheels|engine-location|wheel-base|length|width|height|curb-weight|engine-type|num-of-cylinders|engine-size|fuel-system|bore|stroke|compression-ratio|horsepower|peak-rpm|city-mpg|highway-mpg|  price|
+---------+-----------------+-----------+---------+----------+------------+-----------+------------+---------------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------+----+------+-----------------+----------+--------+--------+-----------+-------+
|        3|             NULL|alfa-romero|      gas|       std|         two|convertible|         rwd|          front|      88.6| 168.8| 64.1|  48.8|       2548|       dohc|            four|        130|       mpfi|3.47|  2.68|              9.0|     111.0|  5000.0|      21|         27|13495.0|
|        3|             NULL|alfa-romero|      gas|       std|         two|convertible|         rwd|          front|      88.6| 168.8| 64.1|  48.8|       2548|       dohc|            four|        130|       mpfi|3.47|  2.68|              9.0|     111.0|  5000.0|      21|         27|16500.0|
|        1|             NULL|alfa-romero|      gas|       std|         two|  hatchback|         rwd|          front|      94.5| 171.2| 65.5|  52.4|       2823|       ohcv|             six|        152|       mpfi|2.68|  3.47|              9.0|     154.0|  5000.0|      19|         26|16500.0|
|        2|              164|       audi|      gas|       std|        four|      sedan|         fwd|          front|      99.8| 176.6| 66.2|  54.3|       2337|        ohc|            four|        109|       mpfi|3.19|   3.4|             10.0|     102.0|  5500.0|      24|         30|13950.0|
|        2|              164|       audi|      gas|       std|        four|      sedan|         4wd|          front|      99.4| 176.6| 66.4|  54.3|       2824|        ohc|            five|        136|       mpfi|3.19|   3.4|              8.0|     115.0|  5500.0|      18|         22|17450.0|
|        2|             NULL|       audi|      gas|       std|         two|      sedan|         fwd|          front|      99.8| 177.3| 66.3|  53.1|       2507|        ohc|            five|        136|       mpfi|3.19|   3.4|              8.5|     110.0|  5500.0|      19|         25|15250.0|
|        1|              158|       audi|      gas|       std|        four|      sedan|         fwd|          front|     105.8| 192.7| 71.4|  55.7|       2844|        ohc|            five|        136|       mpfi|3.19|   3.4|              8.5|     110.0|  5500.0|      19|         25|17710.0|
|        1|             NULL|       audi|      gas|       std|        four|      wagon|         fwd|          front|     105.8| 192.7| 71.4|  55.7|       2954|        ohc|            five|        136|       mpfi|3.19|   3.4|              8.5|     110.0|  5500.0|      19|         25|18920.0|
|        1|              158|       audi|      gas|     turbo|        four|      sedan|         fwd|          front|     105.8| 192.7| 71.4|  55.9|       3086|        ohc|            five|        131|       mpfi|3.13|   3.4|              8.3|     140.0|  5500.0|      17|         20|23875.0|
|        0|             NULL|       audi|      gas|     turbo|         two|  hatchback|         4wd|          front|      99.5| 178.2| 67.9|  52.0|       3053|        ohc|            five|        131|       mpfi|3.13|   3.4|              7.0|     160.0|  5500.0|      16|         22|   NULL|
|        2|              192|        bmw|      gas|       std|         two|      sedan|         rwd|          front|     101.2| 176.8| 64.8|  54.3|       2395|        ohc|            four|        108|       mpfi| 3.5|   2.8|              8.8|     101.0|  5800.0|      23|         29|16430.0|
|        0|              192|        bmw|      gas|       std|        four|      sedan|         rwd|          front|     101.2| 176.8| 64.8|  54.3|       2395|        ohc|            four|        108|       mpfi| 3.5|   2.8|              8.8|     101.0|  5800.0|      23|         29|16925.0|
|        0|              188|        bmw|      gas|       std|         two|      sedan|         rwd|          front|     101.2| 176.8| 64.8|  54.3|       2710|        ohc|             six|        164|       mpfi|3.31|  3.19|              9.0|     121.0|  4250.0|      21|         28|20970.0|
|        0|              188|        bmw|      gas|       std|        four|      sedan|         rwd|          front|     101.2| 176.8| 64.8|  54.3|       2765|        ohc|             six|        164|       mpfi|3.31|  3.19|              9.0|     121.0|  4250.0|      21|         28|21105.0|
|        1|             NULL|        bmw|      gas|       std|        four|      sedan|         rwd|          front|     103.5| 189.0| 66.9|  55.7|       3055|        ohc|             six|        164|       mpfi|3.31|  3.19|              9.0|     121.0|  4250.0|      20|         25|24565.0|
|        0|             NULL|        bmw|      gas|       std|        four|      sedan|         rwd|          front|     103.5| 189.0| 66.9|  55.7|       3230|        ohc|             six|        209|       mpfi|3.62|  3.39|              8.0|     182.0|  5400.0|      16|         22|30760.0|
|        0|             NULL|        bmw|      gas|       std|         two|      sedan|         rwd|          front|     103.5| 193.8| 67.9|  53.7|       3380|        ohc|             six|        209|       mpfi|3.62|  3.39|              8.0|     182.0|  5400.0|      16|         22|41315.0|
|        0|             NULL|        bmw|      gas|       std|        four|      sedan|         rwd|          front|     110.0| 197.0| 70.9|  56.3|       3505|        ohc|             six|        209|       mpfi|3.62|  3.39|              8.0|     182.0|  5400.0|      15|         20|36880.0|
|        2|              121|  chevrolet|      gas|       std|         two|  hatchback|         fwd|          front|      88.4| 141.1| 60.3|  53.2|       1488|          l|           three|         61|       2bbl|2.91|  3.03|              9.5|      48.0|  5100.0|      47|         53| 5151.0|
|        1|               98|  chevrolet|      gas|       std|         two|  hatchback|         fwd|          front|      94.5| 155.9| 63.6|  52.0|       1874|        ohc|            four|         90|       2bbl|3.03|  3.11|              9.6|      70.0|  5400.0|      38|         43| 6295.0|
+---------+-----------------+-----------+---------+----------+------------+-----------+------------+---------------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------+----+------+-----------------+----------+--------+--------+-----------+-------+
only showing top 20 rows

In [10]:
Automobile_df_with_schema

DataFrame[symboling: int, normalized-losses: int, make: string, fuel-type: string, aspiration: string, num-of-doors: string, body-style: string, drive-wheels: string, engine-location: string, wheel-base: double, length: double, width: double, height: double, curb-weight: int, engine-type: string, num-of-cylinders: string, engine-size: int, fuel-system: string, bore: double, stroke: double, compression-ratio: double, horsepower: double, peak-rpm: double, city-mpg: int, highway-mpg: int, price: double]

# Count of Missing values of dataframe in pyspark using isnan() Function

In [11]:
from pyspark.sql.functions import isnull
#Automobile_df_with_schema.isnull().sum()
null_columns = [c for c in Automobile_df_with_schema.columns if Automobile_df_with_schema.filter(isnull(c)).count() > 0]

print(null_columns)

['normalized-losses', 'bore', 'stroke', 'horsepower', 'peak-rpm', 'price']

In [12]:
from pyspark.sql.functions import isnan, when, count, col
Automobile_df_with_schema.select([count(when(isnan(c), c)).alias(c) for c in Automobile_df_with_schema.columns]).show()

+---------+-----------------+----+---------+----------+------------+----------+------------+---------------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------+----+------+-----------------+----------+--------+--------+-----------+-----+
|symboling|normalized-losses|make|fuel-type|aspiration|num-of-doors|body-style|drive-wheels|engine-location|wheel-base|length|width|height|curb-weight|engine-type|num-of-cylinders|engine-size|fuel-system|bore|stroke|compression-ratio|horsepower|peak-rpm|city-mpg|highway-mpg|price|
+---------+-----------------+----+---------+----------+------------+----------+------------+---------------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------+----+------+-----------------+----------+--------+--------+-----------+-----+
|        0|                0|   0|        0|         0|           0|         0|           0|              0|         0|     0|    0|     0|          0|          0|               0|          0|          0|   0|     0|                0|         0|       0|       0|          0|    0|
+---------+-----------------+----+---------+----------+------------+----------+------------+---------------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------+----+------+-----------------+----------+--------+--------+-----------+-----+

# Count of null values of dataframe in pyspark using isnull() Function

In [13]:
from pyspark.sql.functions import isnan, when, count, col
Automobile_df_with_schema.select([count(when(col(c).isNull(), c)).alias(c) for c in Automobile_df_with_schema.columns]).show()

+---------+-----------------+----+---------+----------+------------+----------+------------+---------------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------+----+------+-----------------+----------+--------+--------+-----------+-----+
|symboling|normalized-losses|make|fuel-type|aspiration|num-of-doors|body-style|drive-wheels|engine-location|wheel-base|length|width|height|curb-weight|engine-type|num-of-cylinders|engine-size|fuel-system|bore|stroke|compression-ratio|horsepower|peak-rpm|city-mpg|highway-mpg|price|
+---------+-----------------+----+---------+----------+------------+----------+------------+---------------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------+----+------+-----------------+----------+--------+--------+-----------+-----+
|        0|               41|   0|        0|         0|           0|         0|           0|              0|         0|     0|    0|     0|          0|          0|               0|          0|          0|   4|     4|                0|         2|       2|       0|          0|    4|
+---------+-----------------+----+---------+----------+------------+----------+------------+---------------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------+----+------+-----------------+----------+--------+--------+-----------+-----+

In [14]:
Automobile_df_with_schema.head()

Row(symboling=3, normalized-losses=None, make='alfa-romero', fuel-type='gas', aspiration='std', num-of-doors='two', body-style='convertible', drive-wheels='rwd', engine-location='front', wheel-base=88.6, length=168.8, width=64.1, height=48.8, curb-weight=2548, engine-type='dohc', num-of-cylinders='four', engine-size=130, fuel-system='mpfi', bore=3.47, stroke=2.68, compression-ratio=9.0, horsepower=111.0, peak-rpm=5000.0, city-mpg=21, highway-mpg=27, price=13495.0)

In [15]:
print(type(Automobile_df_with_schema))

<class 'pyspark.sql.dataframe.DataFrame'>

In [16]:
Automobile_df_with_schema = Automobile_df_with_schema.toPandas()

In [17]:
Automobile_df_with_schema.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int32
 1   normalized-losses  164 non-null    float64
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int32
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int32
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    float64
 19  stroke             201 non-null    float64
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    float64
 22  peak-rpm           203 non-null    float64
 23  city-mpg           205 non-null    int32
 24  highway-mpg        205 non-null    int32
 25  price              201 non-null    float64
dtypes: float64(11), int32(5), object(10)
memory usage: 37.8+ KB

In [18]:
Automobile_df_with_schema.shape

(205, 26)

In [19]:
Automobile_df_with_schema.isnull()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
201,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
202,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
203,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
204,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [20]:
Automobile_df_with_schema.isna()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
201,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
202,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
203,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
204,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [21]:
Automobile_df_with_schema.isnull().sum()

symboling             0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          0
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

In [22]:
Automobile_df_with_schema.isna().sum()

symboling             0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          0
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

In [43]:
Automobile_df_with_schema = spark.createDataFrame(Automobile_df_with_schema)

In [23]:
#Automobile_df_with_schema.mean()
Automobile_df_with_schema.mean(numeric_only=True)

symboling                0.834146
normalized-losses      122.000000
wheel-base              98.756585
length                 174.049268
width                   65.907805
height                  53.724878
curb-weight           2555.565854
engine-size            126.907317
bore                     3.329751
stroke                   3.255423
compression-ratio       10.142537
horsepower             104.256158
peak-rpm              5125.369458
city-mpg                25.219512
highway-mpg             30.751220
price                13207.129353
dtype: float64

In [24]:
#Automobile_df_with_schema.median()
Automobile_df_with_schema.median(numeric_only=True)

symboling                1.00
normalized-losses      115.00
wheel-base              97.00
length                 173.20
width                   65.50
height                  54.10
curb-weight           2414.00
engine-size            120.00
bore                     3.31
stroke                   3.29
compression-ratio        9.00
horsepower              95.00
peak-rpm              5200.00
city-mpg                24.00
highway-mpg             30.00
price                10295.00
dtype: float64

In [25]:
Automobile_df_with_mean = Automobile_df_with_schema.fillna(Automobile_df_with_schema.mean(numeric_only=True))

In [26]:
Automobile_df_with_mean.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [27]:
Automobile_df_with_mean

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845.0
201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045.0
202,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485.0
203,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470.0
204,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625.0

In [28]:
Automobile_df_with_mean.describe()

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,122.000000,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329751,3.255423,10.142537,104.256158,5125.369458,25.219512,30.751220,13207.129353
std,1.245307,31.681008,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.519211,476.979093,6.542142,6.886443,7868.768212
min,-2.000000,65.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,0.000000,101.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,1.000000,122.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10595.000000
75%,2.000000,137.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16500.000000
max,3.000000,256.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [61]:
Automobile_df_with_mean.to_csv("final_data_06_01_2026.csv")

In [29]:
Automobile_df_with_mean.make.unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [30]:
final_data_df = spark.createDataFrame(Automobile_df_with_mean)

In [31]:
#final_data_df.show()

In [32]:
final_data_df.registerTempTable("Automobile_data")

C:\Spark\python\pyspark\sql\dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [33]:
spark.sql("show tables").show()

+---------+---------------+-----------+
|namespace|      tableName|isTemporary|
+---------+---------------+-----------+
|         |automobile_data|       true|
+---------+---------------+-----------+

In [34]:
spark.sql("select distinct(make) from automobile_data").count()

22

In [36]:
spark.sql("select distinct(make) from automobile_data").show()

+-------------+
|         make|
+-------------+
|         audi|
|  alfa-romero|
|          bmw|
|        dodge|
|    chevrolet|
|       jaguar|
|        isuzu|
|        honda|
|        mazda|
|mercedes-benz|
|   mitsubishi|
|      mercury|
|       nissan|
|       peugot|
|     plymouth|
|         saab|
|      porsche|
|      renault|
|       subaru|
|       toyota|
+-------------+
only showing top 20 rows

In [37]:
spark.sql("select make,`city-mpg` from automobile_data order by `city-mpg` desc limit 10").show()

+---------+--------+
|     make|city-mpg|
+---------+--------+
|    honda|      49|
|chevrolet|      47|
|   nissan|      45|
|   toyota|      38|
|    honda|      38|
|   toyota|      38|
|chevrolet|      38|
|    isuzu|      38|
|chevrolet|      38|
|    isuzu|      38|
+---------+--------+

In [38]:
import pyspark.sql.functions as F
import pyspark.sql.types as T
from pyspark.sql.functions import col, avg
final_data_mpg = final_data_df.withColumn("mpg",(F.col("city-mpg")+F.col("highway-mpg"))/2)
final_data_mpg.show()

+---------+-----------------+-----------+---------+----------+------------+-----------+------------+---------------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------+----+------+-----------------+----------+--------+--------+-----------+------------------+----+
|symboling|normalized-losses|       make|fuel-type|aspiration|num-of-doors| body-style|drive-wheels|engine-location|wheel-base|length|width|height|curb-weight|engine-type|num-of-cylinders|engine-size|fuel-system|bore|stroke|compression-ratio|horsepower|peak-rpm|city-mpg|highway-mpg|             price| mpg|
+---------+-----------------+-----------+---------+----------+------------+-----------+------------+---------------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------+----+------+-----------------+----------+--------+--------+-----------+------------------+----+
|        3|            122.0|alfa-romero|      gas|       std|         two|convertible|         rwd|          front|      88.6| 168.8| 64.1|  48.8|       2548|       dohc|            four|        130|       mpfi|3.47|  2.68|              9.0|     111.0|  5000.0|      21|         27|           13495.0|24.0|
|        3|            122.0|alfa-romero|      gas|       std|         two|convertible|         rwd|          front|      88.6| 168.8| 64.1|  48.8|       2548|       dohc|            four|        130|       mpfi|3.47|  2.68|              9.0|     111.0|  5000.0|      21|         27|           16500.0|24.0|
|        1|            122.0|alfa-romero|      gas|       std|         two|  hatchback|         rwd|          front|      94.5| 171.2| 65.5|  52.4|       2823|       ohcv|             six|        152|       mpfi|2.68|  3.47|              9.0|     154.0|  5000.0|      19|         26|           16500.0|22.5|
|        2|            164.0|       audi|      gas|       std|        four|      sedan|         fwd|          front|      99.8| 176.6| 66.2|  54.3|       2337|        ohc|            four|        109|       mpfi|3.19|   3.4|             10.0|     102.0|  5500.0|      24|         30|           13950.0|27.0|
|        2|            164.0|       audi|      gas|       std|        four|      sedan|         4wd|          front|      99.4| 176.6| 66.4|  54.3|       2824|        ohc|            five|        136|       mpfi|3.19|   3.4|              8.0|     115.0|  5500.0|      18|         22|           17450.0|20.0|
|        2|            122.0|       audi|      gas|       std|         two|      sedan|         fwd|          front|      99.8| 177.3| 66.3|  53.1|       2507|        ohc|            five|        136|       mpfi|3.19|   3.4|              8.5|     110.0|  5500.0|      19|         25|           15250.0|22.0|
|        1|            158.0|       audi|      gas|       std|        four|      sedan|         fwd|          front|     105.8| 192.7| 71.4|  55.7|       2844|        ohc|            five|        136|       mpfi|3.19|   3.4|              8.5|     110.0|  5500.0|      19|         25|           17710.0|22.0|
|        1|            122.0|       audi|      gas|       std|        four|      wagon|         fwd|          front|     105.8| 192.7| 71.4|  55.7|       2954|        ohc|            five|        136|       mpfi|3.19|   3.4|              8.5|     110.0|  5500.0|      19|         25|           18920.0|22.0|
|        1|            158.0|       audi|      gas|     turbo|        four|      sedan|         fwd|          front|     105.8| 192.7| 71.4|  55.9|       3086|        ohc|            five|        131|       mpfi|3.13|   3.4|              8.3|     140.0|  5500.0|      17|         20|           23875.0|18.5|
|        0|            122.0|       audi|      gas|     turbo|         two|  hatchback|         4wd|          front|      99.5| 178.2| 67.9|  52.0|       3053|        ohc|            five|        131|       mpfi|3.13|   3.4|              7.0|     160.0|  5500.0|      16|         22|13207.129353233831|19.0|
|        2|            192.0|        bmw|      gas|       std|         two|      sedan|         rwd|          front|     101.2| 176.8| 64.8|  54.3|       2395|        ohc|            four|        108|       mpfi| 3.5|   2.8|              8.8|     101.0|  5800.0|      23|         29|           16430.0|26.0|
|        0|            192.0|        bmw|      gas|       std|        four|      sedan|         rwd|          front|     101.2| 176.8| 64.8|  54.3|       2395|        ohc|            four|        108|       mpfi| 3.5|   2.8|              8.8|     101.0|  5800.0|      23|         29|           16925.0|26.0|
|        0|            188.0|        bmw|      gas|       std|         two|      sedan|         rwd|          front|     101.2| 176.8| 64.8|  54.3|       2710|        ohc|             six|        164|       mpfi|3.31|  3.19|              9.0|     121.0|  4250.0|      21|         28|           20970.0|24.5|
|        0|            188.0|        bmw|      gas|       std|        four|      sedan|         rwd|          front|     101.2| 176.8| 64.8|  54.3|       2765|        ohc|             six|        164|       mpfi|3.31|  3.19|              9.0|     121.0|  4250.0|      21|         28|           21105.0|24.5|
|        1|            122.0|        bmw|      gas|       std|        four|      sedan|         rwd|          front|     103.5| 189.0| 66.9|  55.7|       3055|        ohc|             six|        164|       mpfi|3.31|  3.19|              9.0|     121.0|  4250.0|      20|         25|           24565.0|22.5|
|        0|            122.0|        bmw|      gas|       std|        four|      sedan|         rwd|          front|     103.5| 189.0| 66.9|  55.7|       3230|        ohc|             six|        209|       mpfi|3.62|  3.39|              8.0|     182.0|  5400.0|      16|         22|           30760.0|19.0|
|        0|            122.0|        bmw|      gas|       std|         two|      sedan|         rwd|          front|     103.5| 193.8| 67.9|  53.7|       3380|        ohc|             six|        209|       mpfi|3.62|  3.39|              8.0|     182.0|  5400.0|      16|         22|           41315.0|19.0|
|        0|            122.0|        bmw|      gas|       std|        four|      sedan|         rwd|          front|     110.0| 197.0| 70.9|  56.3|       3505|        ohc|             six|        209|       mpfi|3.62|  3.39|              8.0|     182.0|  5400.0|      15|         20|           36880.0|17.5|
|        2|            121.0|  chevrolet|      gas|       std|         two|  hatchback|         fwd|          front|      88.4| 141.1| 60.3|  53.2|       1488|          l|           three|         61|       2bbl|2.91|  3.03|              9.5|      48.0|  5100.0|      47|         53|            5151.0|50.0|
|        1|             98.0|  chevrolet|      gas|       std|         two|  hatchback|         fwd|          front|      94.5| 155.9| 63.6|  52.0|       1874|        ohc|            four|         90|       2bbl|3.03|  3.11|              9.6|      70.0|  5400.0|      38|         43|            6295.0|40.5|
+---------+-----------------+-----------+---------+----------+------------+-----------+------------+---------------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------+----+------+-----------------+----------+--------+--------+-----------+------------------+----+
only showing top 20 rows

In [39]:
#final_data_mpg.registerTempTable("final_data_mpg")
final_data_mpg.createOrReplaceTempView("automobile_mpg")

In [40]:
spark.sql("show tables").show()

+---------+---------------+-----------+
|namespace|      tableName|isTemporary|
+---------+---------------+-----------+
|         |automobile_data|       true|
|         | automobile_mpg|       true|
+---------+---------------+-----------+

In [41]:
spark.sql("select make,mpg from automobile_mpg order by mpg desc limit 10").show()

+----------+----+
|      make| mpg|
+----------+----+
|     honda|51.5|
| chevrolet|50.0|
|    nissan|47.5|
|    toyota|42.5|
|    toyota|42.5|
|volkswagen|41.5|
|volkswagen|41.5|
|     isuzu|40.5|
| chevrolet|40.5|
|     isuzu|40.5|
+----------+----+

In [42]:
spark.sql("select make, price from automobile_mpg order by price desc limit 10").show()

+-------------+-------+
|         make|  price|
+-------------+-------+
|mercedes-benz|45400.0|
|          bmw|41315.0|
|mercedes-benz|40960.0|
|      porsche|37028.0|
|          bmw|36880.0|
|       jaguar|36000.0|
|       jaguar|35550.0|
|mercedes-benz|35056.0|
|mercedes-benz|34184.0|
|      porsche|34028.0|
+-------------+-------+

In [43]:
def saftey_level(value):
  if   value > 0: 
      return 'Risky'
  elif value == 0:
      return 'Neutral'
  else :
    return 'Safe'
        
#convert to a UDF Function by passing in the function and return type of function
safteyLevelfunc = F.udf(saftey_level, StringType())
final_data_saftey = final_data_mpg.withColumn("Saftey", safteyLevelfunc("symboling"))
final_data_saftey.show()

+---------+-----------------+-----------+---------+----------+------------+-----------+------------+---------------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------+----+------+-----------------+----------+--------+--------+-----------+------------------+----+-------+
|symboling|normalized-losses|       make|fuel-type|aspiration|num-of-doors| body-style|drive-wheels|engine-location|wheel-base|length|width|height|curb-weight|engine-type|num-of-cylinders|engine-size|fuel-system|bore|stroke|compression-ratio|horsepower|peak-rpm|city-mpg|highway-mpg|             price| mpg| Saftey|
+---------+-----------------+-----------+---------+----------+------------+-----------+------------+---------------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------+----+------+-----------------+----------+--------+--------+-----------+------------------+----+-------+
|        3|            122.0|alfa-romero|      gas|       std|         two|convertible|         rwd|          front|      88.6| 168.8| 64.1|  48.8|       2548|       dohc|            four|        130|       mpfi|3.47|  2.68|              9.0|     111.0|  5000.0|      21|         27|           13495.0|24.0|  Risky|
|        3|            122.0|alfa-romero|      gas|       std|         two|convertible|         rwd|          front|      88.6| 168.8| 64.1|  48.8|       2548|       dohc|            four|        130|       mpfi|3.47|  2.68|              9.0|     111.0|  5000.0|      21|         27|           16500.0|24.0|  Risky|
|        1|            122.0|alfa-romero|      gas|       std|         two|  hatchback|         rwd|          front|      94.5| 171.2| 65.5|  52.4|       2823|       ohcv|             six|        152|       mpfi|2.68|  3.47|              9.0|     154.0|  5000.0|      19|         26|           16500.0|22.5|  Risky|
|        2|            164.0|       audi|      gas|       std|        four|      sedan|         fwd|          front|      99.8| 176.6| 66.2|  54.3|       2337|        ohc|            four|        109|       mpfi|3.19|   3.4|             10.0|     102.0|  5500.0|      24|         30|           13950.0|27.0|  Risky|
|        2|            164.0|       audi|      gas|       std|        four|      sedan|         4wd|          front|      99.4| 176.6| 66.4|  54.3|       2824|        ohc|            five|        136|       mpfi|3.19|   3.4|              8.0|     115.0|  5500.0|      18|         22|           17450.0|20.0|  Risky|
|        2|            122.0|       audi|      gas|       std|         two|      sedan|         fwd|          front|      99.8| 177.3| 66.3|  53.1|       2507|        ohc|            five|        136|       mpfi|3.19|   3.4|              8.5|     110.0|  5500.0|      19|         25|           15250.0|22.0|  Risky|
|        1|            158.0|       audi|      gas|       std|        four|      sedan|         fwd|          front|     105.8| 192.7| 71.4|  55.7|       2844|        ohc|            five|        136|       mpfi|3.19|   3.4|              8.5|     110.0|  5500.0|      19|         25|           17710.0|22.0|  Risky|
|        1|            122.0|       audi|      gas|       std|        four|      wagon|         fwd|          front|     105.8| 192.7| 71.4|  55.7|       2954|        ohc|            five|        136|       mpfi|3.19|   3.4|              8.5|     110.0|  5500.0|      19|         25|           18920.0|22.0|  Risky|
|        1|            158.0|       audi|      gas|     turbo|        four|      sedan|         fwd|          front|     105.8| 192.7| 71.4|  55.9|       3086|        ohc|            five|        131|       mpfi|3.13|   3.4|              8.3|     140.0|  5500.0|      17|         20|           23875.0|18.5|  Risky|
|        0|            122.0|       audi|      gas|     turbo|         two|  hatchback|         4wd|          front|      99.5| 178.2| 67.9|  52.0|       3053|        ohc|            five|        131|       mpfi|3.13|   3.4|              7.0|     160.0|  5500.0|      16|         22|13207.129353233831|19.0|Neutral|
|        2|            192.0|        bmw|      gas|       std|         two|      sedan|         rwd|          front|     101.2| 176.8| 64.8|  54.3|       2395|        ohc|            four|        108|       mpfi| 3.5|   2.8|              8.8|     101.0|  5800.0|      23|         29|           16430.0|26.0|  Risky|
|        0|            192.0|        bmw|      gas|       std|        four|      sedan|         rwd|          front|     101.2| 176.8| 64.8|  54.3|       2395|        ohc|            four|        108|       mpfi| 3.5|   2.8|              8.8|     101.0|  5800.0|      23|         29|           16925.0|26.0|Neutral|
|        0|            188.0|        bmw|      gas|       std|         two|      sedan|         rwd|          front|     101.2| 176.8| 64.8|  54.3|       2710|        ohc|             six|        164|       mpfi|3.31|  3.19|              9.0|     121.0|  4250.0|      21|         28|           20970.0|24.5|Neutral|
|        0|            188.0|        bmw|      gas|       std|        four|      sedan|         rwd|          front|     101.2| 176.8| 64.8|  54.3|       2765|        ohc|             six|        164|       mpfi|3.31|  3.19|              9.0|     121.0|  4250.0|      21|         28|           21105.0|24.5|Neutral|
|        1|            122.0|        bmw|      gas|       std|        four|      sedan|         rwd|          front|     103.5| 189.0| 66.9|  55.7|       3055|        ohc|             six|        164|       mpfi|3.31|  3.19|              9.0|     121.0|  4250.0|      20|         25|           24565.0|22.5|  Risky|
|        0|            122.0|        bmw|      gas|       std|        four|      sedan|         rwd|          front|     103.5| 189.0| 66.9|  55.7|       3230|        ohc|             six|        209|       mpfi|3.62|  3.39|              8.0|     182.0|  5400.0|      16|         22|           30760.0|19.0|Neutral|
|        0|            122.0|        bmw|      gas|       std|         two|      sedan|         rwd|          front|     103.5| 193.8| 67.9|  53.7|       3380|        ohc|             six|        209|       mpfi|3.62|  3.39|              8.0|     182.0|  5400.0|      16|         22|           41315.0|19.0|Neutral|
|        0|            122.0|        bmw|      gas|       std|        four|      sedan|         rwd|          front|     110.0| 197.0| 70.9|  56.3|       3505|        ohc|             six|        209|       mpfi|3.62|  3.39|              8.0|     182.0|  5400.0|      15|         20|           36880.0|17.5|Neutral|
|        2|            121.0|  chevrolet|      gas|       std|         two|  hatchback|         fwd|          front|      88.4| 141.1| 60.3|  53.2|       1488|          l|           three|         61|       2bbl|2.91|  3.03|              9.5|      48.0|  5100.0|      47|         53|            5151.0|50.0|  Risky|
|        1|             98.0|  chevrolet|      gas|       std|         two|  hatchback|         fwd|          front|      94.5| 155.9| 63.6|  52.0|       1874|        ohc|            four|         90|       2bbl|3.03|  3.11|              9.6|      70.0|  5400.0|      38|         43|            6295.0|40.5|  Risky|
+---------+-----------------+-----------+---------+----------+------------+-----------+------------+---------------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------+----+------+-----------------+----------+--------+--------+-----------+------------------+----+-------+
only showing top 20 rows

In [44]:
#final_data_saftey.registerTempTable("final_data_saftey")
final_data_saftey.createOrReplaceTempView("automobile_saftey")

# Example Order By & Group By

In [45]:
spark.sql("select distinct(saftey),Count(saftey) as count from automobile_saftey  group by saftey order by count asc").show()

+-------+-----+
| saftey|count|
+-------+-----+
|   Safe|   25|
|Neutral|   67|
|  Risky|  113|
+-------+-----+

In [46]:
final_data_saftey.corr("mpg","curb-weight")

-0.7835842369108655

In [47]:
final_data_saftey.corr("mpg","price")

-0.684200583438505

In [48]:
spark.sql("select corr(mpg,`curb-weight`) as correlation from automobile_saftey").show()

+-------------------+
|        correlation|
+-------------------+
|-0.7835842369108655|
+-------------------+

In [49]:
spark.sql("select make from automobile_saftey where `num-of-cylinders`='four'").show()

+-----------+
|       make|
+-----------+
|alfa-romero|
|alfa-romero|
|       audi|
|        bmw|
|        bmw|
|  chevrolet|
|  chevrolet|
|      dodge|
|      dodge|
|      dodge|
|      dodge|
|      dodge|
|      dodge|
|      dodge|
|      dodge|
|      dodge|
|      honda|
|      honda|
|      honda|
|      honda|
+-----------+
only showing top 20 rows

In [51]:
final_data_saftey.dtypes

[('symboling', 'bigint'),
 ('normalized-losses', 'double'),
 ('make', 'string'),
 ('fuel-type', 'string'),
 ('aspiration', 'string'),
 ('num-of-doors', 'string'),
 ('body-style', 'string'),
 ('drive-wheels', 'string'),
 ('engine-location', 'string'),
 ('wheel-base', 'double'),
 ('length', 'double'),
 ('width', 'double'),
 ('height', 'double'),
 ('curb-weight', 'bigint'),
 ('engine-type', 'string'),
 ('num-of-cylinders', 'string'),
 ('engine-size', 'bigint'),
 ('fuel-system', 'string'),
 ('bore', 'double'),
 ('stroke', 'double'),
 ('compression-ratio', 'double'),
 ('horsepower', 'double'),
 ('peak-rpm', 'double'),
 ('city-mpg', 'bigint'),
 ('highway-mpg', 'bigint'),
 ('price', 'double'),
 ('mpg', 'double'),
 ('Saftey', 'string')]

In [52]:
def car_Class(value):
    if (value >= 25000): 
        return 'TopClass'
    elif (value >= 10000 and  value < 25000):
        return 'Mid-Class'
    else :
        return 'BudgetClass'
        
#convert to a UDF Function by passing in the function and return type of function
carClassfunc = F.udf(car_Class, StringType())
final_data_car_class = final_data_saftey.withColumn("title", carClassfunc("price"))
final_data_car_class.show()

+---------+-----------------+-----------+---------+----------+------------+-----------+------------+---------------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------+----+------+-----------------+----------+--------+--------+-----------+------------------+----+-------+-----------+
|symboling|normalized-losses|       make|fuel-type|aspiration|num-of-doors| body-style|drive-wheels|engine-location|wheel-base|length|width|height|curb-weight|engine-type|num-of-cylinders|engine-size|fuel-system|bore|stroke|compression-ratio|horsepower|peak-rpm|city-mpg|highway-mpg|             price| mpg| Saftey|      title|
+---------+-----------------+-----------+---------+----------+------------+-----------+------------+---------------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------+----+------+-----------------+----------+--------+--------+-----------+------------------+----+-------+-----------+
|        3|            122.0|alfa-romero|      gas|       std|         two|convertible|         rwd|          front|      88.6| 168.8| 64.1|  48.8|       2548|       dohc|            four|        130|       mpfi|3.47|  2.68|              9.0|     111.0|  5000.0|      21|         27|           13495.0|24.0|  Risky|  Mid-Class|
|        3|            122.0|alfa-romero|      gas|       std|         two|convertible|         rwd|          front|      88.6| 168.8| 64.1|  48.8|       2548|       dohc|            four|        130|       mpfi|3.47|  2.68|              9.0|     111.0|  5000.0|      21|         27|           16500.0|24.0|  Risky|  Mid-Class|
|        1|            122.0|alfa-romero|      gas|       std|         two|  hatchback|         rwd|          front|      94.5| 171.2| 65.5|  52.4|       2823|       ohcv|             six|        152|       mpfi|2.68|  3.47|              9.0|     154.0|  5000.0|      19|         26|           16500.0|22.5|  Risky|  Mid-Class|
|        2|            164.0|       audi|      gas|       std|        four|      sedan|         fwd|          front|      99.8| 176.6| 66.2|  54.3|       2337|        ohc|            four|        109|       mpfi|3.19|   3.4|             10.0|     102.0|  5500.0|      24|         30|           13950.0|27.0|  Risky|  Mid-Class|
|        2|            164.0|       audi|      gas|       std|        four|      sedan|         4wd|          front|      99.4| 176.6| 66.4|  54.3|       2824|        ohc|            five|        136|       mpfi|3.19|   3.4|              8.0|     115.0|  5500.0|      18|         22|           17450.0|20.0|  Risky|  Mid-Class|
|        2|            122.0|       audi|      gas|       std|         two|      sedan|         fwd|          front|      99.8| 177.3| 66.3|  53.1|       2507|        ohc|            five|        136|       mpfi|3.19|   3.4|              8.5|     110.0|  5500.0|      19|         25|           15250.0|22.0|  Risky|  Mid-Class|
|        1|            158.0|       audi|      gas|       std|        four|      sedan|         fwd|          front|     105.8| 192.7| 71.4|  55.7|       2844|        ohc|            five|        136|       mpfi|3.19|   3.4|              8.5|     110.0|  5500.0|      19|         25|           17710.0|22.0|  Risky|  Mid-Class|
|        1|            122.0|       audi|      gas|       std|        four|      wagon|         fwd|          front|     105.8| 192.7| 71.4|  55.7|       2954|        ohc|            five|        136|       mpfi|3.19|   3.4|              8.5|     110.0|  5500.0|      19|         25|           18920.0|22.0|  Risky|  Mid-Class|
|        1|            158.0|       audi|      gas|     turbo|        four|      sedan|         fwd|          front|     105.8| 192.7| 71.4|  55.9|       3086|        ohc|            five|        131|       mpfi|3.13|   3.4|              8.3|     140.0|  5500.0|      17|         20|           23875.0|18.5|  Risky|  Mid-Class|
|        0|            122.0|       audi|      gas|     turbo|         two|  hatchback|         4wd|          front|      99.5| 178.2| 67.9|  52.0|       3053|        ohc|            five|        131|       mpfi|3.13|   3.4|              7.0|     160.0|  5500.0|      16|         22|13207.129353233831|19.0|Neutral|  Mid-Class|
|        2|            192.0|        bmw|      gas|       std|         two|      sedan|         rwd|          front|     101.2| 176.8| 64.8|  54.3|       2395|        ohc|            four|        108|       mpfi| 3.5|   2.8|              8.8|     101.0|  5800.0|      23|         29|           16430.0|26.0|  Risky|  Mid-Class|
|        0|            192.0|        bmw|      gas|       std|        four|      sedan|         rwd|          front|     101.2| 176.8| 64.8|  54.3|       2395|        ohc|            four|        108|       mpfi| 3.5|   2.8|              8.8|     101.0|  5800.0|      23|         29|           16925.0|26.0|Neutral|  Mid-Class|
|        0|            188.0|        bmw|      gas|       std|         two|      sedan|         rwd|          front|     101.2| 176.8| 64.8|  54.3|       2710|        ohc|             six|        164|       mpfi|3.31|  3.19|              9.0|     121.0|  4250.0|      21|         28|           20970.0|24.5|Neutral|  Mid-Class|
|        0|            188.0|        bmw|      gas|       std|        four|      sedan|         rwd|          front|     101.2| 176.8| 64.8|  54.3|       2765|        ohc|             six|        164|       mpfi|3.31|  3.19|              9.0|     121.0|  4250.0|      21|         28|           21105.0|24.5|Neutral|  Mid-Class|
|        1|            122.0|        bmw|      gas|       std|        four|      sedan|         rwd|          front|     103.5| 189.0| 66.9|  55.7|       3055|        ohc|             six|        164|       mpfi|3.31|  3.19|              9.0|     121.0|  4250.0|      20|         25|           24565.0|22.5|  Risky|  Mid-Class|
|        0|            122.0|        bmw|      gas|       std|        four|      sedan|         rwd|          front|     103.5| 189.0| 66.9|  55.7|       3230|        ohc|             six|        209|       mpfi|3.62|  3.39|              8.0|     182.0|  5400.0|      16|         22|           30760.0|19.0|Neutral|   TopClass|
|        0|            122.0|        bmw|      gas|       std|         two|      sedan|         rwd|          front|     103.5| 193.8| 67.9|  53.7|       3380|        ohc|             six|        209|       mpfi|3.62|  3.39|              8.0|     182.0|  5400.0|      16|         22|           41315.0|19.0|Neutral|   TopClass|
|        0|            122.0|        bmw|      gas|       std|        four|      sedan|         rwd|          front|     110.0| 197.0| 70.9|  56.3|       3505|        ohc|             six|        209|       mpfi|3.62|  3.39|              8.0|     182.0|  5400.0|      15|         20|           36880.0|17.5|Neutral|   TopClass|
|        2|            121.0|  chevrolet|      gas|       std|         two|  hatchback|         fwd|          front|      88.4| 141.1| 60.3|  53.2|       1488|          l|           three|         61|       2bbl|2.91|  3.03|              9.5|      48.0|  5100.0|      47|         53|            5151.0|50.0|  Risky|BudgetClass|
|        1|             98.0|  chevrolet|      gas|       std|         two|  hatchback|         fwd|          front|      94.5| 155.9| 63.6|  52.0|       1874|        ohc|            four|         90|       2bbl|3.03|  3.11|              9.6|      70.0|  5400.0|      38|         43|            6295.0|40.5|  Risky|BudgetClass|
+---------+-----------------+-----------+---------+----------+------------+-----------+------------+---------------+----------+------+-----+------+-----------+-----------+----------------+-----------+-----------+----+------+-----------------+----------+--------+--------+-----------+------------------+----+-------+-----------+
only showing top 20 rows

In [53]:
final_data_car_class.registerTempTable("automobile_car_class")

C:\Spark\python\pyspark\sql\dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [54]:
spark.sql("select distinct title, count(title) as count from automobile_car_class  group by title order by count asc").show()

+-----------+-----+
|      title|count|
+-----------+-----+
|   TopClass|   17|
|  Mid-Class|   90|
|BudgetClass|   98|
+-----------+-----+

In [55]:
spark.sql("select avg(mpg) as avgMpg, min(mpg) as minMpg, max(mpg) as maxMpg from automobile_car_class").show()

+------------------+------+------+
|            avgMpg|minMpg|maxMpg|
+------------------+------+------+
|27.985365853658536|  15.0|  51.5|
+------------------+------+------+

In [57]:
spark.sql("select distinct(saftey),Count(saftey) as count from automobile_saftey  group by saftey order by count asc").show()

+-------+-----+
| saftey|count|
+-------+-----+
|   Safe|   25|
|Neutral|   67|
|  Risky|  113|
+-------+-----+

In [58]:
spark.sql("select  distinct make,Count(make) as total from automobile_saftey where saftey=='Safe' group by make  order by total desc").show()

+-------------+-----+
|         make|total|
+-------------+-----+
|        volvo|   11|
|       toyota|    7|
|mercedes-benz|    4|
|        dodge|    1|
|   mitsubishi|    1|
|     plymouth|    1|
+-------------+-----+

In [59]:
safe_maker =  spark.sql("select  distinct make,Count(make) as total from automobile_saftey where saftey=='Safe' group by make  order by total desc")

In [60]:
safe_maker.coalesce(2).write.format('csv').save("safe_maker.csv", header='true')

In [68]:
safe_maker.toPandas().to_csv('safe_maker.csv')

PermissionError: [Errno 13] Permission denied: 'safe_maker.csv'